body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #cfcfcf;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px;
  &:hover {
    background-color: #e0e0e0;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50vh;
  gap: 20px;
}

.boss {
  grid-row: span 2;
}

.gallery div img {
  height: 100%;
  object-fit: cover;
}
.title {
  text-align: center;
  margin: 20px 0;
}
.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.imgblock {
  position: relative;
}
.blog img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.orangebox {
  position: absolute;
  width: 50%;
  bottom: 4px;
  right: 0;
  background-color: orange;
  color: white;
  padding: 10px;
  text-align: center;
}
.textblock {
  padding: 10px;
}
.commentsblok {
  display: flex;
}
.orange-paragraf {
  color: orange;
  font-size: 1rem;
  font-weight: 700;
}
.whitebox {
  background-color: white;
  color: black;
  width: 50px;
  height: 40px;
  top: -20px;
  left: 20px;
}
.orange-back {
  background-color: orange;
  color: white;
}
.orange-button {
  background-color: orange;
  color: white;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.white-back {
  background-color: white;
  color: orange;
  border: solid 3px orange;
}
.orange-link {
  color: orange;
  cursor: pointer;
}
